<!DOCTYPE html>
<html>
<head>
  <title>Noteworthy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://use.fontawesome.com/00acb38b3d.js"></script>
  <%= favicon_link_tag 'info.png' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Scope+One" rel="stylesheet">
</head>
<body>
    <%= yield %>
</body>
</html>
